@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Places
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h1 style="padding-top:30px">@Title</h1>

<GoogleMap @ref="@(this.map1)" Id="map1" Options="@(this.mapOptions)" OnAfterInit="async () => await OnAfterMapInit()"></GoogleMap>

<div style="margin-bottom: 10px;">
    <div>
        <span>Nearby Locations:</span><br />
        @if ((this.suggestions?.Length ?? 0) == 0)
        {
            <span>No locations found nearby</span>
        }
        else
        {
            <div class="container">
                <div class="map-results">
                    @foreach (var item in this.suggestions)
                    {
                        <div class="map-result">
                            <h4>@item.Description</h4>
                            <div class="buttons">
                                <button @onclick="async () => await GetPlaceDetailAsync(item.PlaceId)" class="pin-btn">Drop Pin</button>
                                <button @onclick="() => GenerateGoogleMapsLink(item.PlaceId)" class="map-btn">Map To</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

